/* 
based on this video for inspiration:
https://youtu.be/UZY9FYe7u6I
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset */



:root {
    --main-bg-color: #8EBA81;
}

body, html {    
    color: white;
    font-family: 'Dosis', sans-serif;
    overflow: hidden;
}

.container {
    background-color: white;
    display: grid; 
    width: 100vw;
    height: 100vh;
    grid-template-rows: .75fr 1fr 2fr 1fr 2fr 1fr .75fr;
    grid-template-columns: .5fr 1fr 1fr 3fr 1fr 1fr .5fr;
    grid-template-areas: 
        ". . . . . . ."
        ". nav nav nav nav nav ."
        ". . . header . . ."
        ". . . catchphrase . . ."
        ". . . product-links . . .";
}

.content-box {
    grid-column: 2 / 7;
    grid-row: 2 / 7; 
    background-color: var(--main-bg-color);
}

#hamburger {
    grid-column: 5 / 7;
    grid-row: 2 / 3; 
    display: none;
    color: white;
}

li {
    display: inline;
    padding-left: 1vw;
    padding-right: 1vw;
}

#nav-links {
    grid-column: 5 / 7;
    grid-row: 2 / 3; 
    margin: auto;
    padding-top: 3vh;
}

#get-started {
    padding: .75vw;
    margin-left: 10px;
    outline: .1vw solid white;
}

.header {
    grid-column: 4 / 5;
    grid-row: 3 / 4; 
    background-color: var(--main-bg-color);
    margin: auto;
    font-size: 18vw;
    text-align: center;
}

.catchphrase {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    margin: auto;
    font-size: 3vw; 
}

.product-links {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#product-image-area {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
}

#product-image {
    width: 25vw;
}

.btn {
    outline: .1vw solid white;
    padding: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    min-width: 6vw;
    text-align: center;
    color: white;
}



/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
    .header {
        font-size: 30vw;
    }

    .catchphrase {
        font-size: 8vw;
    }

    #product-image {
        display: none;
    }

    #nav-links {
        display: none;
    }

    #hamburger {
        display: inline;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 30vw;
    }

    .catchphrase {
        font-size: 8vw;
    }
    
    .btn {
        min-width: 4em;
    }

    #product-image {
        display: none;
    }
    
    #nav-links {
        display: none;
    }

    #hamburger {
        display: inline;
        margin: auto;
    }
}

@media screen and (max-width: 414px) {
    .header {
        font-size: 30vw;
    }

    .catchphrase {
        font-size: 8vw;
    }

    #product-image {
        display: none;
    }
    
    #nav-links {
        display: none;
    }

    #hamburger {
        display: inline;
        margin: auto;
    }
}

